// dev
DEV_APP_DISPLAY_NAME=My Flutter Base DEV
DEV_PRODUCT_BUNDLE_IDENTIFIER=com.pbh.myflutterbase.dev
DEV_PROVISIONING_PROFILE_SPECIFIER=
DEV_DEVELOPMENT_TEAM=

// staging
STAGING_APP_DISPLAY_NAME=My Flutter Base STAGING
STAGING_PRODUCT_BUNDLE_IDENTIFIER=com.pbh.myflutterbase.staging
STAGING_PROVISIONING_PROFILE_SPECIFIER=
STAGING_DEVELOPMENT_TEAM=

// sandbox
SANDBOX_APP_DISPLAY_NAME=My Flutter Base SANDBOX
SANDBOX_PRODUCT_BUNDLE_IDENTIFIER=com.pbh.myflutterbase.sandbox
SANDBOX_PROVISIONING_PROFILE_SPECIFIER=
SANDBOX_DEVELOPMENT_TEAM=

// prod
PROD_APP_DISPLAY_NAME=My Flutter Base
PROD_PRODUCT_BUNDLE_IDENTIFIER=com.pbh.myflutterbase
PROD_PROVISIONING_PROFILE_SPECIFIER=
PROD_DEVELOPMENT_TEAM=
