// dev
DEV_APP_DISPLAY_NAME=BaseFlutter DEV
DEV_PRODUCT_BUNDLE_IDENTIFIER=com.pbh.baseflutter.dev

// staging
STAGING_APP_DISPLAY_NAME=BaseFlutter STAGING
STAGING_PRODUCT_BUNDLE_IDENTIFIER=com.pbh.baseflutter.staging

// sandbox
SANDBOX_APP_DISPLAY_NAME=BaseFlutter SANDBOX
SANDBOX_PRODUCT_BUNDLE_IDENTIFIER=com.pbh.baseflutter.sandbox

// prod
PROD_APP_DISPLAY_NAME=BaseFlutter
PROD_PRODUCT_BUNDLE_IDENTIFIER=com.pbh.baseflutter
