#include "Generated.xcconfig"
#include "AppSpecific.xcconfig"

// FLUTTER 
PACKAGE_CONFIG=$(FLUTTER_APPLICATION_PATH)/.dart_tool/package_config.json
FLUTTER_TARGET=$(FLUTTER_APPLICATION_PATH)/lib/main_staging.dart

// APP INDENTIFIER
APP_DISPLAY_NAME=$(STAGING_APP_DISPLAY_NAME)
PRODUCT_BUNDLE_IDENTIFIER=$(STAGING_PRODUCT_BUNDLE_IDENTIFIER)
